<header>
    <img 
    src="assets/icone_fale_conosco_atualizado.png" 
     alt="Paulo Almeida - Foto de perfil"
     widht="130px"
     height="130px"
     loding="eager" /> <!-- Carrega a imagem antes de carregar a página -->
     <h1>Paulo Almeida</h1>
     
</header>

<aside>  <!-- Colocar mais informações dpois do header-->
    <div class="container">
        <p>Full-Stack JavaScript | Angular | JavaScript| Html| Css</p>
        <p>Corinto, Minas Gerais, Brasil</p>
        <p>
            Estou na area de desenvolvimento de software desde 2024.
        </p>
        <nav> <!-- Criar navegações aqui-->
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                    Downnload CV
                </a>
                </li>

                <li>
                    <a href="link linkedin" 
                    target="_blank" 
                    class="btn btn-secondary">
                    LinkedIn
                </a>
                </li>
            </ul>

        </nav>
        <section>  <!-- Seção-->
            <figure>
                <img 
                src="assets/whatsapp 2.svg"
                alt="Ícone para contato do Whatsapp">
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5538999999999&text=Ol%C3%A1%2C%20tudo%20bem%3F%20Gostaria%20de%20falar%20sobre%20um%20projeto%20com%20voc%C3%AA."
                    target="_blank">
                    <strong>Envie uma mensagem para Whatsapp</strong>  <!-- dá ao texto uma forte importância, e é tipicamente mostrado em negrito-->

                        <p>Whatsapp:(38)999009849</p>
                    </a>
                </figcaption>

            </figure>

            <figure>
                <img 
                src="assets/envelope-solid.svg"
                alt="Ícone para e-mail"
                widht="22px"
                leght="24px" 
                />
                <figcaption>
                    <a 
                      href="mailto:paulinhoalmeida16@hotmail.com"  target="_blank"> <!-- mailto: para enviar um email-->
                        <strong>Envie um e-mail para:</strong>  <!-- dá ao texto uma forte importância, e é tipicamente mostrado em negrito-->
                        <p>paulinhoalmeida16&#64;hotmail.com</p> <!-- &#64; é o código para @-->
                    </a>
                </figcaption>
            </figure>


        </section>

    </div>

</aside>